---
import { IconBrandLinkedinFilled, IconFile } from "@tabler/icons-react";
import { IconBrandGithubFilled } from "@tabler/icons-react";
---

<main id="home" class="mx-auto w-full max-w-[750px] pt-20 pb-10 px-5 flex flex-col justify-center items-center gap-6 block-dashed-no-top">
    <article class="flex flex-col sm:flex-row gap-3 w-full">
        <img 
          src="./photo.png" 
          alt="Diego Fernando Mueses Zuñiga - Full-Stack Developer profile picture" 
          width="100" 
          height="100"
          fetchpriority="high"
          class="bg-accent rounded-md"
        />
        <div class="flex flex-col gap-2 justify-center">
            <h1 class="text-xl dark:text-white">
                Diego Fernando Mueses Zuñiga
            </h1>
            <p class="text-secondary italic text-sm">
                Systems/Software Engineer & Full-Stack Developer
            </p>
            <div class="flex flex-row gap-2">
                <a 
                  href="https://www.linkedin.com/in/diego-fmz" 
                  target="_blank" 
                  rel="noopener noreferrer"
                  aria-label="Visit Diego Mueses LinkedIn profile"
                >
                    <IconBrandLinkedinFilled color="blue" />
                </a>
                <a 
                  href="https://github.com/DiegoZM1006" 
                  target="_blank" 
                  rel="noopener noreferrer" 
                  aria-label="Visit Diego Mueses GitHub profile"
                  class="text-black dark:text-white"
                >
                    <IconBrandGithubFilled />
                </a>
            </div>
        </div>
    </article>
    <h2 class="text-xl sm:text-2xl dark:text-white">
        I design and build end-to-end web and mobile applications.
    </h2>
    <article class="flex flex-col gap-6 w-full">
        <p class="text-secondary text-sm hidden sm:block">
            With a problem-solving mindset and a focus on clean architecture, I design and implement solutions that improve performance, enhance user experience, and drive measurable impact. I enjoy collaborating in agile teams and turning complex ideas into functional products.
        </p>
        <div class="flex flex-col sm:flex-row gap-3 items-start">
            <button id="btnDownloadCV" class="bg-accent py-2 w-[200px] text-center rounded-md text-white flex flex-row gap-2 items-center justify-center hover:cursor-pointer hover:bg-accent-hover transition-colors">
                <IconFile /> Download CV
            </button>
            <a href="#projects" class="bg-gray-200 py-2 px-10 rounded-md hover:bg-gray-300 transition-colors text-secondary w-[200px] text-center">
                View Projects
            </a>
        </div>
    </article>
</main>

<script>
    const btnDownloadCV = document.getElementById('btnDownloadCV');
    btnDownloadCV?.addEventListener('click', () => {
        window.open('/CV.pdf', '_blank');
    });
</script>